

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    background-color: #3161e0
    
}


.container{
    width: 80%;
    min-height: 60%;
    margin: auto;
}

.p{
    padding: 0 200px;
}


.flex-container{
    display: flex;
    align-items:center;
   justify-content: space-between;
}



ul{
    justify-content: center;
    display: flex;
    list-style: none;
    color: white;
    font-size: 15px;
    gap: 50px;
    align-items: center;

}

.bottone{
    font-size: 15px;
    border: none;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    padding: 9px;
    
}



.jumbotron{
    padding-top: 100px;
    display: flex;
    height: 400px;
    background-image: url(./image/jumbo.png);
    background-size: cover;
    background-position: center;
    justify-content: center;
}

.card, .text-card{
    color: white;
   text-align: center;
   width: 500px;
}

h1{
    font-size: 50px;
    margin-top: 0;
}

.bottone-2{
    font-size: 15px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 9px;
    

}

.invite{
display: flex;
padding: 80px 0;
}

.text{
    
    min-height: 250px;
    width: 40% ;
    padding: 0;
   padding-left: 200px;
}

.image{
    width:500px;
}
.photo{
    width: 60%;
 }

.community{
     display: flex;
     
}

.photo-community{
    width: 40%;
    min-height: 250px;
}

.text-community{
    width: 60%;

}




.technology-card{
    padding-top: 50px;
    padding-bottom: 20px;

}

.technology {
    text-align: center;
     min-height: 600px;
     
}

.bottone-mac{
    background-color: #8ea1e1;
    color: white;
}



footer{
    background-color: #23272a;
}

.last-container{
    display: flex;
    min-height: 200px;
    padding: 20px;
}

.info{
    width: 40%;
    min-height: 345px;
    background-color: #f08080;
}
.info-1{
    width: 15%;
    min-height: 345px;
    background-color: #1e90ff;
    border: dotted 1px black;
}

.last-section{
    min-height: 100px;
    display: flex;
    background-color: #add8e6;
    align-items: center;
    justify-content: space-between;
}

